/* Fondo azul con texto blanco */
body {
  margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 60, 211);
    color: white;
}
h1 {
  color: black;
}
/* Efectos de hover para botones */
#producto:hover { 
  transform: scale(1.05);
  background-color: rgb(150, 10, 10);
}

#funcionamiento:hover { 
  background-color: rgb(245,198,46); 
  transform: scale(1.05); 
}

/* Texto principal centrado */
.contenido {
  width: 100%;
  padding: 4rem 6rem;
  box-sizing: border-box;
  text-align: center;
}

.contenido p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
  color: white;
}

/* Pie de página con redes sociales */
footer {
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

footer p {
  margin: 0;
}

.redes {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.redes a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.redes a:hover {
  transform: scale(1.1);
  color: rgb(184, 14, 14); /* rojo al pasar el mouse */
}

/* Íconos también blancos */
.redes i {
  font-size: 1.8rem;
  color: black;
  transition: color 0.3s ease-in-out;
}

.redes a:hover i {
  color: rgb(184, 14, 14);
}