body {
    margin: 0;
    background-image: url(../img/hamburguesa.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 80vh; */
}

h1{
    background-color: black;
    display: inline-block;
    color: white;
    /* padding: 0.2rem 0.5rem; */
}

#muestras {
    background-color: red;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 auto;
  }
  
  /* La grilla real la hace #container */
  #muestras #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   /* centra horizontalmente las filas */
    gap: 2rem;
    max-width: 1100px;         /* opcional para que aparezcan 3 por fila cómodos */
    margin: 0 auto;
  }
  
  #muestras #container img {
    width: 30%;       /* ~3 por fila */
    height: auto;
    display: block;
    border-radius: 1em;
    transition: transform 0.3s ease-in-out;
  }

#muestras img:hover {
    transform: scale(1.2);
}

header{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: solid red; */
    /* margin-bottom: 80vh; */
}

footer{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid red;
    /* padding-top: 100px; */
    padding-top: 5rem;
    
}

i#chango{
    font-size: 2em;
    padding: 0.5em;
    margin-right: 1em;
    border: 2px solid black;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

i#chango:hover{
    cursor: pointer;
    transform: scale(1.2);
}