body {
    margin: 0;
    background-image: url(../img/hamburguesa.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    display: inline-block;
    color: black;
    /* padding: 0.2rem 0.5rem; */
}




h2{
    text-align: center;
    margin-bottom: 3rem;
}

div#muestras {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 1100px;      /* o 1200px, lo que prefieras */
  width: 90%;             /* para que en móviles no quede enorme */
  margin: 2rem auto;      /* centra el bloque */
}

  
  /* La grilla real la hace #container */
div#muestras div#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   /* centra horizontalmente las filas */
    gap: 2rem;
    max-width: 1100px;         /* opcional para que aparezcan 3 por fila cómodos */
    margin: 0 auto;
  }
  
div#muestras div#container img {
    width: 30%;       /* ~3 por fila */
    height: auto;
    display: block;
    border-radius: 1em;
    transition: transform 0.3s ease-in-out;
  }

#muestras img:hover {
    transform: scale(1.2);
}

header{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: solid red; */
    /* margin-bottom: 80vh; */
}

header img{
    width: 10%;
    height: auto;
}

h2#queEs{
    color: white;
}

footer{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid red;
    /* padding-top: 100px; */
    padding-top: 5rem;
    
}

i#chango{
    font-size: 2em;
    padding: 0.5em;
    margin-right: 1em;
    border: 2px solid black;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

i#chango:hover{
    cursor: pointer;
    transform: scale(1.2);
}